<?xml version="1.0"?>
<model>
  <name>tiltrotor_monocam</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Pernilla Wikström</name>
   <email>pernilla@auterion.com</email>
  </author>

  <description>
    Quad-tiltrotor with an external monocular camera payload.
  </description>
</model>
